@import '~bulma/sass/utilities/_all';

$primary: #90ffbd;
$primary-invert: #000403;

$body-family: 'Montserrat', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$body-background-color: $primary-invert;
$body-color: #fff;
$navbar-background-color: transparent;
$navbar-item-img-max-height: 2.5rem;
$footer-background-color: rgba(0, 4, 3, 0.8);
$footer-padding: 1.5rem;
$title-color: #fff;
$title-size: $size-5;
$subtitle-color: $primary;
$subtitle-size: $size-3;
$colors: mergeColorMaps(
  (
    'white': (
      $white,
      $black
    ),
    'black': (
      $black,
      $white
    ),
    'light': (
      $light,
      $light-invert
    ),
    'dark': (
      $dark,
      $dark-invert
    ),
    'primary': (
      $primary,
      $primary-invert
    ),
    'link': (
      $link,
      $link-invert
    ),
    'info': (
      $info,
      $info-invert
    ),
    'success': (
      $success,
      $success-invert
    ),
    'warning': (
      $warning,
      $warning-invert
    ),
    'danger': (
      $danger,
      $danger-invert
    )
  ),
  $custom-colors
);
$label-color: #fff;
$label-weight: $weight-normal;
$input-color: #fff;
$input-placeholder-color: #666;
$input-background-color: transparent;
$input-shadow: none;
$input-border-color: #323232;
$input-hover-border-color: #323232;
$input-height: 58px;

$link: #fff;
$link-hover: $primary;
$link-invert: $primary;

$modal-card-title-color: $primary;
$modal-card-head-background-color: #000403;
$modal-card-head-border-bottom: none;
$modal-card-foot-border-top: none;
$modal-card-body-background-color: #000403;
$modal-content-width: auto;
$modal-card-body-padding: 0 20px 20px 20px;
$radius-small: 4px;

@import '~bulma/sass/base/_all';
@import '~bulma/sass/elements/_all';
@import '~bulma/sass/components/_all';
@import '~bulma/sass/grid/_all';
@import '~bulma/sass/layout/_all';
@import '~buefy/src/scss/buefy';

#__layout {
  > div {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;

    @include tablet {
      background-image: url('../img/bg.jpg');
      background-repeat: no-repeat;
      background-position: 60vw center;
      background-size: 90vh;
    }

    @include desktop {
      background-position-x: 50vw;
    }

    > section.main-content {
      flex: 1;
    }
  }
}

.navbar {
  padding: 20px 1.5rem 0 1.5rem;

  > .container {
    .navbar-brand {
      margin-left: 0;

      .navbar-item {
        padding: 0;

        height: 2.5rem;
        width: 9.75rem;
      }
    }
  }
}

.explorer {
  .control {
    width: 100%;

    a {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

a:focus {
  outline: none;
}

.footer {
  font-size: 12px;
  color: #666666;

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
    }

    .footer-brand {
      background-size: contain;
      width: 6.813rem;
      height: 1.75rem;

      @include mobile {
        margin-bottom: 0.5rem;
      }
    }

    .copyright {
      text-align: center;

      @include mobile {
        margin-bottom: 0.5rem;
      }

      @include tablet {
        position: absolute;
        left: 0;
        right: 0;
      }
    }

    .button {
      background-color: transparent;
      border-color: transparent;
    }
  }
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  &-twitter {
    background-image: url('../img/twitter.svg');
  }
  &-telegram {
    background-image: url('../img/telegram.svg');
  }
  &-github {
    background-image: url('../img/github.svg');
  }

  &-madeby {
    width: 81px;
    height: 73px;
    background-image: url('../img/madeby.svg');
  }
}

// buefy style overwrite
.label {
  font-weight: $weight-normal;
  font-size: 14px;
  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.input {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  font-weight: $weight-semibold;
  padding: 12px 0;
  height: $input-height;

  &:focus,
  &.is-focused,
  &:active,
  &.is-active {
    box-shadow: none !important;
  }
}

.field-height {
  min-height: 104px;

  .control {
    .help.counter {
      visibility: visible !important;
    }

    &.has-icons-right {
      .input {
        padding-right: 40px;
      }

      .icon {
        width: 24px;

        .mdi {
          background-repeat: no-repeat;
          background-size: contain;

          &-24px {
            height: 24px;
            width: 24px;
          }
        }
      }
    }
  }
}

.has-text-danger .mdi-alert-circle {
  background-image: url('../img/alert-circle.svg');
}
.has-text-success .mdi-check {
  background-image: url('../img/check.svg');
}

form {
  margin-bottom: 3rem;

  .button {
    padding: 12px 30px;
    font-weight: $weight-semibold;
    height: 50px;

    @include mobile {
      font-size: 14px;
      padding: 12px 14px;
    }
  }
}

.info {
  .heading {
    font-size: 14px;
    text-transform: none;
    margin-bottom: 0.5rem;
  }
  .title {
    color: #91ffbd;
    margin-bottom: 1.25rem;
  }
  .column:last-child {
    .title {
      margin-bottom: 0;
    }
  }
}

.wallets {
  margin: -0.5rem;

  &.field.is-grouped.is-grouped-multiline > .control {
    margin: 0.5rem;
  }

  .button {
    width: 120px;
    flex-direction: column;
    height: auto;

    &:before {
      content: '';
      height: 64px;
      width: 64px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin: 0.25rem 0;
    }

    &.is-metamask:before {
      background-image: url('../img/metamask-fox.svg');
    }

    &.is-portis:before {
      background-image: url('../img/portis.svg');
    }

    &.is-authereum:before {
      background-image: url('../img/authereum.svg');
    }

    &.is-walletconnect:before {
      background-image: url('../img/walletconnect.svg');
    }

    &.is-mewconnect:before {
      background-image: url('../img/mewconnect.svg');
    }
  }

  .control-with-select {
    .button {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-width: 0;

      &:before {
        height: 38px;
      }
    }

    .select {
      &.is-empty {
        select {
          color: rgba(255, 255, 255, 0.7);
        }
      }

      select {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top-width: 0;
        background-color: $dark;

        &:hover {
          background-color: #2f2f2f;
        }

        &:focus {
          border-color: $dark;
          box-shadow: none;
        }
      }

      &:not(.is-multiple) {
        height: auto;

        &:not(.is-loading):hover::after {
          border-color: $primary;
        }
      }
    }
  }

  .network-select {
    width: 120px;
    overflow: hidden;
  }

  > .control:hover {
    .button {
      border-color: #fff;
    }

    &.control-with-select {
      .button {
        border-bottom-color: #363636;
      }

      .select select {
        border-color: #fff;
      }
    }
  }
}

.modal-card-title {
  width: 100%;
  text-align: center;
}

.fields:not(:last-child) {
  margin-bottom: 1.5rem;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.logo {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='156' height='40'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M92.076 25.742v-4.64c0-.746-.176-1.309-.528-1.688-.352-.378-.854-.568-1.504-.568-.736 0-1.318.222-1.744.664-.427.443-.64 1.08-.64 1.912v4.32h-2v-8.544h1.904v1.104c.33-.394.746-.693 1.248-.896.501-.202 1.066-.304 1.696-.304 1.077 0 1.941.315 2.592.944.65.63.976 1.563.976 2.8v4.896h-2zM77.004 22.11a2.32 2.32 0 0 0 .92 1.496c.496.368 1.112.552 1.848.552.938 0 1.712-.309 2.32-.928l1.072 1.232c-.384.459-.87.806-1.456 1.04-.587.235-1.248.352-1.984.352-.939 0-1.766-.186-2.48-.56a4.025 4.025 0 0 1-1.656-1.56c-.39-.666-.584-1.421-.584-2.264 0-.832.189-1.581.568-2.248a4.034 4.034 0 0 1 1.576-1.56c.672-.373 1.429-.56 2.272-.56.832 0 1.576.184 2.232.552a3.914 3.914 0 0 1 1.536 1.552c.368.667.552 1.438.552 2.312 0 .139-.011.336-.032.592h-6.704zm4.048-2.832c-.438-.384-.982-.576-1.632-.576-.64 0-1.182.19-1.624.568-.443.379-.712.883-.808 1.512h4.848c-.086-.618-.347-1.12-.784-1.504zm-8.72 6.464l-2.96-3.664-1.488 1.408v2.256h-2V13.87h2v7.168l4.144-3.84h2.4l-3.568 3.584 3.904 4.96h-2.432zm-10.576-.448c-.694.374-1.478.56-2.352.56-.864 0-1.643-.186-2.336-.56a4.072 4.072 0 0 1-1.624-1.56c-.39-.666-.584-1.421-.584-2.264 0-.842.194-1.594.584-2.256a4.1 4.1 0 0 1 1.624-1.552c.693-.373 1.472-.56 2.336-.56.874 0 1.658.187 2.352.56a4.113 4.113 0 0 1 1.624 1.552c.389.662.584 1.414.584 2.256 0 .843-.195 1.598-.584 2.264a4.085 4.085 0 0 1-1.624 1.56zm-.528-5.76c-.48-.49-1.088-.736-1.824-.736s-1.342.246-1.816.736c-.475.491-.712 1.136-.712 1.936s.237 1.446.712 1.936c.474.491 1.08.736 1.816.736s1.344-.245 1.824-.736c.48-.49.72-1.136.72-1.936s-.24-1.445-.72-1.936zm-9.872 6.208h-2.08v-9.44h-3.712v-1.76h9.504v1.76h-3.712v9.44z'/%3E%3Cpath fill='%2390FFBD' fill-rule='evenodd' d='M153.259 23.878c.203.219.496.328.88.328.448 0 .821-.117 1.12-.352l.56 1.424c-.235.192-.52.336-.856.432a3.857 3.857 0 0 1-1.064.144c-.939 0-1.664-.245-2.176-.736-.512-.49-.768-1.205-.768-2.144v-4.112h-1.408v-1.6h1.408V15.31h2v1.952h2.288v1.6h-2.288v4.064c0 .416.101.734.304.952zm-11.232-1.768a2.32 2.32 0 0 0 .92 1.496c.496.368 1.112.552 1.848.552.939 0 1.712-.309 2.32-.928l1.072 1.232a3.6 3.6 0 0 1-1.456 1.04c-.587.235-1.248.352-1.984.352-.939 0-1.765-.186-2.48-.56a4.025 4.025 0 0 1-1.656-1.56c-.389-.666-.584-1.421-.584-2.264 0-.832.189-1.581.568-2.248a4.04 4.04 0 0 1 1.576-1.56c.672-.373 1.429-.56 2.272-.56.832 0 1.576.184 2.232.552a3.914 3.914 0 0 1 1.536 1.552c.368.667.552 1.438.552 2.312 0 .139-.011.336-.032.592h-6.704zm4.048-2.832c-.437-.384-.981-.576-1.632-.576-.64 0-1.181.19-1.624.568-.443.379-.712.883-.808 1.512h4.848c-.085-.618-.347-1.12-.784-1.504zm-10.608 4.864c.437 0 .84-.098 1.208-.296.368-.197.675-.493.92-.888l1.536.896a3.458 3.458 0 0 1-1.448 1.48c-.635.347-1.368.52-2.2.52-.885 0-1.68-.186-2.384-.56a4.11 4.11 0 0 1-1.648-1.56c-.395-.666-.592-1.421-.592-2.264 0-.842.197-1.594.592-2.256a4.15 4.15 0 0 1 1.64-1.552c.699-.373 1.496-.56 2.392-.56.843 0 1.582.171 2.216.512a3.324 3.324 0 0 1 1.432 1.472l-1.536.896a2.447 2.447 0 0 0-.92-.888 2.52 2.52 0 0 0-1.208-.296c-.747 0-1.365.243-1.856.728-.491.486-.736 1.134-.736 1.944 0 .811.243 1.459.728 1.944.485.486 1.107.728 1.864.728zm-8.432.512c-.32.384-.72.68-1.2.888a3.86 3.86 0 0 1-1.552.312c-1.141 0-2.04-.317-2.696-.952-.656-.634-.984-1.576-.984-2.824v-4.88h2v4.608c0 .768.173 1.342.52 1.72.347.379.84.568 1.48.568.715 0 1.283-.221 1.704-.664.421-.442.632-1.08.632-1.912v-4.32h2v8.544h-1.904v-1.088zm-10.816.048a2.315 2.315 0 0 1-1.048.856c-.453.197-1 .296-1.64.296-.64 0-1.2-.109-1.68-.328-.48-.218-.85-.522-1.112-.912a2.315 2.315 0 0 1-.392-1.32c0-.768.286-1.384.856-1.848.571-.464 1.47-.696 2.696-.696h2.208v-.128c0-.597-.178-1.056-.536-1.376-.357-.32-.888-.48-1.592-.48-.48 0-.952.075-1.416.224-.464.15-.856.358-1.176.624l-.784-1.456c.448-.341.987-.602 1.616-.784a7.206 7.206 0 0 1 2-.272c1.259 0 2.222.302 2.888.904.667.603 1 1.512 1 2.728v5.008h-1.888v-1.04zm-.112-2.624h-2.064c-1.152 0-1.728.379-1.728 1.136 0 .363.144.651.432.864.288.214.688.32 1.2.32.502 0 .947-.114 1.336-.344.39-.229.664-.557.824-.984v-.992zm-12.8-2.384h5.408v1.76h-5.408v4.288h-2.08v-11.2h8.176v1.744h-6.096v3.408z'/%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M29 20h-9v9a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1v-9H1a1 1 0 0 1-1-1v-8a1 1 0 0 1 1-1h9V1a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v9h9a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1z'/%3E%3Cpath fill='%2390FFBD' fill-rule='evenodd' d='M21 30h8a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1v-8a1 1 0 0 1 1-1z'/%3E%3C/svg%3E");
}

.partners {
  &.level-item {
    @include mobile {
      margin-bottom: 1.5rem;
    }
  }

  .partner {
    width: 150px;
    height: 55px;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    border: 0;

    + .partner {
      margin-left: 0.5rem;
    }

    &--1inch {
      background-image: url('../img/partners/1inch.svg');
    }
  }
}
